.App{
  text-align: center;
  min-height: 100vh;
  background-color: tomato;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 30%;
  font-size: 17px;
  border-radius: 2px;
}

.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipe-box{
  border: 2px solid white;
}